@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-motion";

@theme {
    --color-background: #0B1220;
    --color-background-secondary: #0F172A;
    --color-background-tertiary: #172033;

    --color-text: #F1F5F9;
    --color-text-secondary: #CBD5F5;
    --color-text-tertiary: #94A3B8;

    --color-button: #2F57B8;
    --color-button-secondary: #237BFA;
    --color-button-tertiary: #22D3EE;

    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-error: #EF4444;
    --color-info: #38BDF8;

    --font-inter: "Inter", system-ui, sans-serif;
    --font-tinos: "Tinos", system-ui, sans-serif;

    --shadow-uniform: 0 0 5px rgba(0, 0, 0, 0.40);
}

@keyframes flip {
    0%,45% {
        transform: rotateY(0deg);
    }
    50%,95% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes shine-sweep {
    0% {
        left: -100%;
    }
    100% {
        left: 150%;
    }
}

.flip-animation {
    animation: flip 10s infinite;
}

.perspective {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.gold-text {
    position: relative;
    background: linear-gradient(180deg, #b8832f, #e6b85c, #c9973f, #f5d48a, #f5d48a);
    background-size: 200% 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gold-shine 2s ease-in-out infinite;
}

.gold-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,transparent,rgba(255, 255, 255, 0.5),transparent);
    animation: shine-sweep 3s infinite;
}

body {
    color: var(--color-text);
    font-family: var(--font-inter);
    font-size: 14px;
    line-height: 1.5;
}